@using Microsoft.AspNetCore.Components
@code {
    private int currentPage = 0;

    private readonly Type[] pages = new[]
    {
        typeof(Page1),
        typeof(Page2),
        typeof(Page3)
    };

    void NextPage()
    {
        currentPage = (currentPage + 1) % pages.Length;
    }

    void PrevPage()
    {
        currentPage = (currentPage - 1 + pages.Length) % pages.Length;
    }
}

<div style="text-align: center;">
    <button @onclick="PrevPage">⬅️</button>
    <span style="margin: 0 1rem;">Page @((currentPage + 1))</span>
    <button @onclick="NextPage">➡️</button>
</div>

<DynamicComponent Type="@pages[currentPage]" />
